*{ font-family: 'Trebuchet MS';}
.clearfix{clear: both;}

/* ------------------------------------------------------------------------------------ */
/* Strat main rulez */



.container
{
    width: 1170px;
    margin: auto;
}

/* End main rulez */
/* ------------------------------------------------------------------------------------ */
/* Start Header */

.header .slider
{
    background:#EEE;
    height: 600px;
    background-image: url('coverDark.png');
    background-size: cover; /* CSS3 */ 
}

.header .slider .intro
{
    padding-top:200px;
    text-align: center;
    color:#FFF
}

.header .slider .intro h2 
{
    margin: 0 auto;
    font-size: 80px;
    width: 620px;
    border-top: 4px solid#FFF;
    border-bottom: 4px solid#FFF;
    padding:5px 0;
    text-transform: uppercase;
}

.header .slider .intro button
{
    background: none;
    margin-top: 30px;
    color:#FFF;
    font-size: 25px;
    border:3px solid#FFF;
    font-weight: bold;
    padding:10px;
}

/* .header .slider .intro button:hover{
    background-color: #252f31;
} */

.header .navbar
{
    background-color: #252f31;
    color: #FFF;
    overflow: hidden;
}

.header .navbar h2{float: left;text-transform:uppercase;font-size: 30px;}

.header .navbar h2 span{color: #277f91;}

.header .navbar ul
{
    list-style: none;
    padding-left: 0;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.header .navbar ul li{float: left;padding:10px;}
.header .navbar ul li a{text-decoration: none;color: #FFF;}
.header .navbar ul li.active a{color:#277f91;}
.header .navbar ul li a:hover{color:#277f91;font-size:25px;}

/* End Header */
/* ------------------------------------------------------------------------------------ */
/* Start Features */

.features{overflow: hidden;padding-top: 40px;padding-bottom: 55px;}
.features .feat{float: left;width: 33.3333%;height: 150px;}
.features .feat h2{ color:#444;text-transform: uppercase;}
.features .feat p{line-height: 1.7;color:#999;}

/* End Features */
/* ------------------------------------------------------------------------------------ */
/* Start About Me */ 

.about-me{background-color: #F2F2F2;overflow: hidden;}

.about-me .info h2{margin: 20px 0px 15px 40px;color:#444;} 

.about-me .info > p{margin: 0px 0px 10px 40px;}

.about-me .info > p:last-of-type{margin-top: 20px;}

.about-me .info  p{line-height: 1.7;color: #666;}

.about-me .image{float: left;width: 40%;}

.about-me .image img{width: 100%;}

.about-me .info{float: left;width: 60%;}

.about-me .info .hobbies{overflow: hidden;margin: 15px 0px 0px 40px;}

.about-me .info .hobbies .contect
{
    float: left;
    width: 50%;
    min-height: 100px;
    overflow: hidden;
}
.about-me .info .hobbies .contect .icon{
    float: left;
    width: 10%;
    margin-right: 5%;
    margin-top: 12px;
    color: #277f91;
}

.about-me .info .hobbies .contect .text{float: left;width: 85%;}
.about-me .info .hobbies .contect .text p{margin-top: 0;}
.about-me .info .hobbies .contect .text h3{margin-bottom: 7px;}
.about-me .info .hobbies h3{color: #444;}

/* End About Me */
/* ------------------------------------------------------------------------------------ */
/* Start My Skills */

.my-skills
{
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: hidden;
}

.my-skills .skills, .my-skills .progress
{
    width: 50%;
    float: left;
}

.my-skills .skills h2
{
    color: #444;
    margin: 20px 0px 20px 40px;
}

.my-skills .skills p
{
    color: #666;
    line-height: 1.6;
    margin: 0px 0px 10px 40px;
}

.my-skills .skills p:last-of-type{margin-top: 20px;}

.my-skills .skills button
{
    padding:10px 20px;
    margin-left: 40px;
}

.technique {color: #444;margin-left: 50px;border-bottom:1px solid#000}

.technique div{background-color: #F2F2F2;height: 20px;}

.technique div span {background-color:#277f91;
    height: 20px;
    display: block;
    line-height: 20px;
    text-align: right;
    color: #FFF;
    font-weight: bold;
    }

/* End My Skills */
/* ------------------------------------------------------------------------------------ */
/* Start Resume */

.resume
{
    background-color: #F2F2F2;
    padding-top: 60px;
    padding-bottom: 70px;
    text-align: center;
}
.resume h2{margin-left: 30px;
    margin-top: -10px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    color:#444;
}
.resume p
{
    padding:0 40px;
    color: #666;
    line-height: 1.7;
}
.resume button
{
    margin-top: 20px;
    text-transform: uppercase;
}

/* End Resume */
/* ------------------------------------------------------------------------------------ */
/* Start My Education */

.my-education
{
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-education hr{
    margin: 20px 0;
    background-color: #999;
    border: 0;
    height: 1px;
}

.my-education .main {
    width: 50%;
    margin-right: 5%;
    float: left;
}

.my-education .main h2
{
    color: #444;
    margin: 20px 0px 20px 40px;
}

.my-education .main p
{
    color: #666;
    line-height: 1.6;
    margin: 0px 0px 10px 40px;
}

.my-education .main p:last-of-type{margin-top: 20px;}

.my-education .exp{
    width: 45%;
    float: left;
}

.my-education .exp h3{
    margin-top: 68.5px;
    margin-bottom: 8px;
}
.my-education .exp span{
    display: block;
    margin-bottom: 8px;
}

.my-education .exp span:first-of-type{color: #666;}

.my-education .exp span:last-of-type{
    color:#EEE;
    background-color: #277f91;
    display: inline-block;
    padding:4px 10px
}


/* End My Education */
/* ------------------------------------------------------------------------------------ */
/* Start testimonials */

.testimonials
{
    background-color: #F2F2F2;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}

.testimonials q{color: #777;
     line-height: 2;
     font-style: italic;
     font-size: 17px;
    }

.testimonials h3{
    color:#333;
    margin-bottom: 30px;
}

.testimonials ul {
    padding-left: 0;
    list-style: none;
    text-align: center;
}

.testimonials ul li{
    border: 1.5px solid #277f91;
    height: 7.5px;
    width: 7.5px;
    display: inline-block;
    border-radius: 50%;
}
.testimonials ul li.active{
    background-color: #277f91;
}
.testimonials ul li:hover{
    background-color:#277f91;
    cursor: pointer;
}

/* End testimonials */
/* ------------------------------------------------------------------------------------ */
/* Start Portfolio */

.portfolio
{
    padding-top: 50px;
    padding-bottom: 70px;
    text-align: center;
}

.portfolio h2{
    color: #444;
}
.portfolio p{
    line-height: 1.7;
}
.portfolio .our-work{ overflow: hidden; }

.portfolio .our-work > div
{
    float:left; 
    width: 33.3333%;
    margin-bottom: 10px;
}
.portfolio .our-work > div img {
    width:92%;
    margin: 10px;
    padding: 10px;
    background-color:#FFF;
    border: 1px solid#CCC;
    box-shadow: 10px 10px 12px #CCC;   
}

/* End Portfolio */
/* ------------------------------------------------------------------------------------ */
/* Start Contact Me */

.contact 
{
    background-color: #252f31;
    overflow: hidden; 
    padding-top: 50px;
    padding-bottom: 70px;
}

.contact p{color: #6a6e71;
    margin-left:40px;
    line-height: 1.7;
}
.contact h2{color:#EEE;
    margin-left: 40px;
}

.contact .info{
    width: 50%;
    margin-right: 5%;
    float: left;
}
.contact .form
{
    width: 45%;
    float: left;
}

.contact .form label
{
    display: block;
    color: #EEE;
    margin:10px 0;
}

.contact .form input[type='text'] {
    background-color: #4B5557;
    border:0;
    padding:10px;
    margin-bottom: 10px;
    width: 80%;
}
.contact .form textarea {
    background-color: #4B5557;
    border:0;
    padding:10px;
    width: 80%;
    height: 230px;
}

.contact strong{
    color: #EEE;
}
.contact .form input[type='submit']{
    background-color: #191e22;
    color: #EEE;
    border:0;
    padding:12px 20px;
    font-weight: bold;
    margin-top: 12px;
}
.contact .form input[type='submit']:hover
{
    background-color: #EEE;
    color:#191e22;
    cursor: pointer;
    box-shadow: 10px 10px 12px #000000;
}

.contact .form input{
    color:#FFF;
}

.contact .form textarea{
    color: #FFF;
}

/*End Contact Me */ 
/* ------------------------------------------------------------------------------------ */
/* Start Footer */

.footer
{
    background-color: #191e22;
    text-align: center;
    color:#6a6e71;
    padding:20px 0;
}

.footer span{
    font-size: 18.5px;
}
.footer ul{
    list-style:none;
    padding-left: 0;
}

.footer ul li {
    display: inline-block;
    margin: 5px;
    
}
.footer ul li i:hover{
    cursor: pointer;
    color: #FFF;
}

/* End Footer */ 
/* ------------------------------------------------------------------------------------ */

/* My Freamwork */

.my-button
{
    background: none; 
    border:3px solid #277f91;
    color: #277f91;
    padding:10px 20px;
    margin-left: 40px;
    font-weight: bold;
    transition: all 0.5s;
}
.my-button:hover{
    background-color: #277f91;
    color: #FFF;
    box-shadow: 10px 10px 12px #CCC;
    cursor: pointer;
}

span[class="gpa"]{
    border-radius: 10px;
}